body {
  background-color: #03110c;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font: 700 60px/120%,sans-serif;
  margin: 40px 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  gap: 15px;
  align-items: center;
  font-size: 24px;
  position: relative;
}

.form input,
.form select
 {
  width: 100%;
  font-size: 24px;
  padding: 10px;
}

input[type="checkbox"],
input[type="radio"] {
  width:19px;
  height:19px;
  display: inline-block;
}