.users-list {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.user {
    margin-top: 10px;
    display: flex;
    gap: 15px;
    background-color: #333;
    display: flex;
    padding: 10px;
    font-size: 24px;
    align-items:center;
}

img {
    height: 288px;
    width: 288px;
    margin-bottom: 16px;
    object-fit: cover;
}